.marketplace-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #231F20;
    padding: 12.5rem 0;

    .marketplace-cards__title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 4.12rem;
        text-align: center;
        color: #FFFFFF;

    }

    .marketplace-cards__cards {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 1rem;
        margin-top: 4.37rem;
        
        .cards__image-wrapper {
            cursor: pointer;

            .cards__image {
                width: 100%;
                
            }

        }

    }

    @media screen and (max-width: 1100px) {

        .marketplace-cards__cards {
            width: 100%;
            display: grid;
            grid-template-columns: 33% 33% 33%;
      
        }
        
    }

    @media screen and (max-width: 600px) {

        .marketplace-cards__cards {
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
      
        }
        
    }

    .marketplace-cards__block-button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;

        .button {
            width: 11.62rem;
            background: #292425;
            border: none;
            border-radius: 7.5rem;
            padding: 1.18rem 0;
            font-weight: 700;
            font-size: 1.12rem;
            line-height: 153.52%;
            color: #FD287E;
            margin-left: 1.37rem;
        }

    }

}