.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #231F20;
    padding: 1.5rem 2.86rem;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .header__logo {
        width: 11.62rem;
        height: 2.2rem;

    }

    .nav__open-wrapper {
        display: none;

        .nav__open {
            display: none;

        }

        @media screen and (max-width: 800px) {

            .nav__open {
                display: block;
                width: 2.5rem;
                height: 1.5rem;
                position: relative;
                background: none;
                border: none;
                z-index: 50;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 2rem;
                    height: 3px;
                    background-color: #FD287E;
                    border-radius: 5px;

                }

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 51%;
                    width: 2rem;
                    height: 3px;
                    background-color: #FD287E;
                    border-radius: 5px;

                }

                span {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 100%;
                    width: 2rem;
                    height: 3px;
                    background-color: #FD287E;
                    border-radius: 5px;
                }

            }
            
        }

    }

    @media screen and (max-width: 800px) {

        .nav__open-wrapper {
            width: 50%;
            display: flex;
            align-items: center;
            margin-left: 1.5rem;

        }
        
    }

    @media screen and (max-width: 600px) {

        .nav__open-wrapper {
            position: fixed;
            right: 1rem;
            top: 1rem;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;

        }
        
    }

    .header__nav {
        display: flex;
        align-items: center;

        .nav__item {
            font-weight: 500;
            font-size: 0.93rem;
            line-height: 1.25rem;
            color: #FFFFFF;
            margin-right: 3.12rem;
            text-decoration: none;
            cursor: pointer;

            &:last-child {
                margin-right: 0;

            }
            
        }


        .nav__close {
            display: none;
        }

        @media screen and (max-width: 800px) {
            .nav__close {
                display: block;
                position: relative;
                width: 2rem;
                height: 2rem;
                background: none;
                border: none;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 48%;
                    width: 2rem;
                    height: 3px;
                    background-color: #FD287E;
                    border-radius: 5px;
                    transform: rotate(45deg);

                }

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 48%;
                    width: 2rem;
                    height: 3px;
                    background-color: #FD287E;
                    border-radius: 5px;
                    transform: rotate(-45deg);

                }

            }

        }


        @media screen and (max-width: 800px) {
            .nav__item {
                margin-top: 1rem;
                margin-right: 0;

            }

            .nav__close {
                display: block;
                position: fixed;
                right: 1rem;
                top: 1rem;
                width: 2rem;
                height: 2rem;
                background: none;
                border: none;

            }
            
        }

        .nav__item-active {
            color: #FD287E;
        }

    }

    @media screen and (max-width: 800px) {
        .header__nav {
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            background: #231F20;
            padding: 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 100;
            transition: 0.5s;
            transform: translateY(-100%);

        }

        .header__nav-active {
            transform: translateY(0);
        }
        
    }

    .header__setting {
        display: flex;
        align-items: center;
        cursor: pointer;

        .language__image {
            width: 1.75rem;
            height: 1.25rem;
            margin-right: 1.25rem;
            object-fit: cover;

        }

        .header__button {
            width: 5.18rem;
            background: #FD287E;
            border-radius: 2.93rem;
            padding: 0.56rem 0.93rem;
            border: none;
            font-weight: 600;
            font-size: 0.93rem;
            line-height: 1.25rem;;
            color: #FFFFFF;
            margin-right: 1.25rem;
    
        }

        .header__user {
            width: 2.81rem;
            height: 2.81rem;
            background: #292425;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .user__image {
                width: 1rem;
                height: 1.25rem;

            }

        }

        .header__user-active {
            border: 2px solid #FD287E;
        }

    }

    @media screen and (max-width: 600px) {

        .header__setting {
            margin-top: 1.5rem;

        }
        
    }

}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}